<% content_for :body_content_title do %>
  <%= @apartment.block %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Block</h1>
    <p>
      <%=raw @apartment.block %>
    </p>
  </section>
  <section>
    <h1>Unit</h1>
    <p>
      <%=raw @apartment.unit_id %>
    </p>
  </section>
  <section>
    <h1>Floor</h1>
    <p>
      <%=raw @apartment.floor %>
    </p>
  </section>
  <section>
    <h1>Total Floors</h1>
    <p>
      <%=raw @apartment.total_floors %>
    </p>
  </section>
  <section>
    <h1>Layout</h1>
    <p>
      <%=raw @apartment.layout %>
    </p>
  </section>
  <section>
    <h1>Apartment Area</h1>
    <p>
      <%=raw @apartment.apartment_area %>
    </p>
  </section>
  <section>
    <h1>Balcony Terace Area</h1>
    <p>
      <%=raw @apartment.balcony_terace_area %>
    </p>
  </section>
  <section>
    <h1>Front Yard Area</h1>
    <p>
      <%=raw @apartment.front_yard_area %>
    </p>
  </section>
  <section>
    <h1>Price</h1>
    <p>
      <%=raw @apartment.price %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="apartments">
      <% @apartments.each do |apartment| %>
        <li>
          <%= link_to apartment.block, refinery.apartments_apartment_path(apartment) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
